.contact {
  background: #020617;
  padding: 90px 8%;
}

.contact h2 {
  text-align: center;
  color: white;
  font-size: 3rem;
  margin-bottom: 70px;
  position: relative;
}

.contact h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -12px;
  width: 145px;
  height: 4px;
  background: linear-gradient(
    90deg,
    #ec4899,
    #8b5cf6,
    #38bdf8
  );
  border-radius: 10px;
}

.contact-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.contact-card {
  width: 260px;
  background: rgba(15, 23, 42, 0.9);
  border: 1px solid rgba(56, 189, 248, 0.15);
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  transition: 0.3s ease;
}

.contact-card:hover {
  transform: translateY(-5px);

  background: linear-gradient(
    135deg,
    #490bcf,
    #38bdf8
  );

  box-shadow:
    0 10px 25px rgba(56, 189, 248, 0.15);
}

.contact-icon {
  font-size: 2rem;
  color: #38bdf8;
  margin-bottom: 15px;
}

.contact-card h3 {
  color: white;
  margin-bottom: 10px;
}

.contact-card p,
.contact-card a {
  color: #cbd5e1;
  text-decoration: none;
}

.contact-card a:hover {
  color: #38bdf8;
}